.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dadfe3;
  padding-bottom: 40px;
}
.product-list__title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 34px;
  font-weight: 500;
  margin: 50px 0px;
}
.product-list__item {
  width: 32%;
  aspect-ratio: 10 / 13;
  background-color: #f2f5f8;
  display: flex;
  flex-direction: column;
  padding: 2.8%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 28px;
}
.product-list__item:nth-child(3n + 2) {
  margin: 0px 2%;
  margin-bottom: 28px;
}

.product-list__image {
  width: 100%;
  margin-bottom: 24px;
}
.product-list__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product-list__name--sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.product-list__btn {
  color: #7d7d7d;
  font-size: 14px;
  position: absolute;
  bottom: 28px;
}
.product-list__btn i {
  margin-left: 5px;
}

@media screen and (max-width: 1220px) {
  .main-screen {
    margin: 0px 40px;
  }
  .product-list__image {
    margin-bottom: 12px;
  }
  .product-list__item {
    width: 32%;
  }
  .product-list__btn {
    bottom: 20px;
  }
  .product-list__name--sm {
    font-size: 14px;
  }
}
@media screen and (max-width: 825px) {
  .product-list__item {
    width: 47%;
  }
  .product-list__title {
    margin: 30px 0px;
  }
  .product-list__item:nth-child(3n + 2) {
    margin: 0px;
  }
  .product-list__item:nth-child(2n) {
    margin: 0px 3%;
    margin-bottom: 28px;
  }
}
