.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dadfe3;
  padding-bottom: 40px;
}
.product-list__title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 34px;
  font-weight: 500;
  margin: 50px 0px;
}
.product-list__item {
  width: 387px;
  height: 440px;
  background-color: #f2f5f8;
  display: flex;
  flex-direction: column;
  padding: 38px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
}
.product-list__item:nth-child(3n + 2) {
  margin-left: 26px;
  margin-right: 26px;
}
.product-list__image {
  width: 310px;
  margin-bottom: 24px;
}
.product-list__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product-list__name--sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.product-list__btn {
  color: #7d7d7d;
  font-size: 14px;
  position: absolute;
  bottom: 38px;
}
.product-list__btn i {
  margin-left: 5px;
}
